gradle-wrapper.jar
/.gradle
{
  "SUPABASE_URL": "https://votre-supabase.mondomaine.com",
  "SUPABASE_ANON_KEY": "votre-cle-anon",
  "SUPABASE_FUNCTIONS_ENABLED": "false"
}/build/
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
/.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
